.weatherNow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: var(--gray-500);

  span {
    font-size: 1.5rem;
    margin-top: 0.25rem;
  }
  h1 {
    font-size: 3rem;
    margin-top: 0.25rem;
  }

}

.weatherForeCast {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--gray-500);
  h2 {
    margin-bottom: 0.5rem;
  }
}

.forecastContainer {
  
  padding: 0.5rem 1.5rem;
  align-self: center;
  color: var(--gray-500);
  position: relative;
  background: var(--white);
  border-radius: 2rem;
  min-width: 55vw;
  margin-top: 0.5rem;

  div:first-child {
    svg {
      font-size: 1.5rem;
      margin-right: 0.4rem;
    }
  }

  div {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;

      svg {
        font-size: 1.5rem;
        margin-right: 0.2rem;
      }
    }
  }
  
}
