.searchContainer {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  padding: 0.2rem 1rem;
  flex: 1;
  align-self: center;
  color: var(--gray-300);
  position: relative;
  background: var(--white);
  border-radius: 1rem 0 0 1rem;
  min-width: 45vw;
  
  input {
    width: 100%;
    padding: 0.4rem;
    outline: none;
    border: 0px;
  }
}


.buttonContainer {
  min-width: 50%;  
  button {
    background: var(--green-300);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-color: transparent;
    border-radius: 0 1rem 1rem 0;
    outline: none;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.85);
    }
    
  }
  
}


.errorInput {
  margin-top: 2.8rem;
  margin-left: 1.3rem;
  position: absolute;
  color: red;
  font-weight: bold;
}